certifi==2025.8.3
cloudconvert
click==8.2.1
markdown-it-py==4.0.0
mdurl==0.1.2
numpy==2.3.3
Pygments==2.19.2
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.10.2
pyqtgraph==0.13.7
rich==14.1.0
setuptools==80.9.0
shellingham==1.5.4
typer==0.16.1
typing_extensions==4.14.1
yt-dlp==2025.8.20
